@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Suez+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: #000;
    font-family: trebuchet ms, sans-serif;
}

/*------------------------*/


#top {
    width: 100%;
    height: 100vh;
    background-image: url(http://iwallpapers2.free.fr/images/Photographie/Black_Collection/Magnifique_fond_ecran_Espace_-_Black_Collection.jpg);
    background-blend-mode: multiply;
    background-color: #595959;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    font-size: 2.5em;

}

#top h1 {
    padding-top: 20%
}

#top h3 {
    color: #fff;
}


/*who are we*/
#whoarewe {
    width: 100%;
    height: 45vh;
    background-color: #9c9c9c;
    background-size: cover;
    color: #000;
    float: left;
}

#left {
    position: absolute;
    top: 115vh;
    left: 10%;
    width: 40%;
    float: left;
    font-size: 1.5em;
}

#right {
    position: absolute;
    left: 52%;
    width: 40%;
    top: 115vh;
    font-size: 1.5em;
}

#whoarewe h1 {
    position: absolute;
    top: 108vh;
    left: 13%;
    font-size: 3.5em;
}

@media (min-width: 1401px) {
    #left {
        font-size: 1.5em;
    }

    #right {
        font-size: 1.5em;
    }
}

@media (max-width: 1400px) {
    #left {
        font-size: 1.2em;
    }

    #right {
        font-size: 1.2em;
    }
}


/*------------------------*/

#goal {
    width: 100%;
    height: 100vh;
    background-color: #fff;


}

#goal h1 {
    position: relative;
    top: 10vh;
    width: 60%;
    left: 13%;
    font-size: 3.5em;
}

#avg1 svg {
    left: 16%;
    position: absolute;
    top: 165vh;
}

#avg1 div {
    position: absolute;
    top: 167vh;
    left: 22%;
    font-size: 1.6em;
}

#avg2 svg {
    left: 16%;
    position: absolute;
    top: 175vh;
}

#avg2 div {
    position: absolute;
    top: 177vh;
    left: 22%;
    font-size: 1.6em;
}

#avg3 svg {
    left: 16%;
    position: absolute;
    top: 185vh;
}

#avg3 div {
    position: absolute;
    top: 187vh;
    left: 22%;
    font-size: 1.6em;
}

/*------------------------*/

#advantages {
    width: 100%;
    height: 100vh;
    background-image: url(https://pbs.twimg.com/media/CwHB_XnUIAELFCu.jpg);
    background-blend-mode: multiply;
    background-color: #595959;
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.6em;
}

#advantages h1 {
    top: 15vh;
    left: 41%;
    width: 50%;
    color: #fff;
    position: relative;
}

.block1 {
    width: 15%;
    height: 30vh;
    background: #fff;
    padding: 5px;
    padding-right: 20px;
    position: relative;
    float: left;
    top: 23%;
    left: 25%;
    text-align: center;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

.block2 {
    width: 15%;
    height: 30vh;
    background: #fff;
    padding: 5px;
    float: left;
    position: relative;
    text-align: center;
    top: 38%;
    left: 27%;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

.block3 {
    width: 15%;
    height: 30vh;
    background: #fff;
    padding: 5px;
    float: left;
    position: relative;
    text-align: center;
    top: 23%;
    left: 29%;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

/*------------------------*/